body {
    background-color: #ccc;
}

h1{
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

.carousel-container {
    padding: 15px
}

.container {
    padding: 40px;
}

.quote-container q {
    font-size: clamp(23px, 4vw, 26px);
    font-weight: 700;
}

.quote-container q {
    font-size: 105%;
}

.grid-container {
    background-color: coral;
}

.grid-container h2{
    color: white; 
}